body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-family: 'PT Sans', sans-serif;
  color: #0d1c2d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a { 
  color: #dea30a;
}

p, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

h1 {
  color: #dea30a;
  font-family: 'EB Garamond', serif;
  font-size: 72px;
  line-height: 80px;
}

h2 {
  color: #8c6c00;
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  line-height: 56px;
  font-weight: 500;
}

h3 {
  font-family: 'EB Garamond', serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
}

.header {
  background-color: #0d1c2d;
  padding: 2rem 3.3rem;
}

.logo {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.main {
  flex: 1 0 100%;
}

.main-content-container, .footer-content-container {
  max-width: 992px;
}

.main-content-container {
  margin: 40px auto 48px;
}

.title-container {
  background-color: #042f48;
  padding: 2.4rem 3rem;
  text-align: center;
}

.intro-container {
  margin-bottom: 32px;
}

.intro-title {
  margin-bottom: 8px;
}

/* Form styling   */
.field {
  margin-bottom: 24px;
}

.label .colon {
  display: none;
}

.label {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 2px;
}

/* Email input styling */
input[type=text] {
  height: 48px;
  background-color: #fff;
  border: 1px solid #b0b7c1;
  border-radius: 50px;
  font-size: 16px;
  padding: 0 12px;
  vertical-align: baseline;
}

input[type=text]:focus {
  box-shadow: 0 0 3px 1px #8c6c00;

}

.data select {
  height: 48px;
  border: 1px solid #b0b7c1;
  padding: 0 5px;
}

/* Radiobutton styling */
.radiobuttons {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.radiobuttons label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.radiobuttons label:last-child {
  margin-bottom: 0;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #b0b7c1;
  margin-right: 12px;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}

input[type=radio]:checked {
  border: 1px solid #042f48;
}

input[type=radio]:checked:after {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  top: 4px;
  left: 4px;
  background-color: #042f48;
  border-radius: 100%;
}

/* Button styling */
input[type=submit] {
  background-color: #598000;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 32px;
  border-radius: 50px;
  border: .3rem solid #598000;
  font-weight: 700;
  color: #FFF;
  margin-top: 8px;
}

.footer {
  background-color: #0D1C2D;
  display: flex;
  flex-wrap: wrap;
  padding: 64px 0;
}

.footer-title {
  color: #dea30a;
  margin-bottom: 40px;
}

.footer-advice-container {
  display: flex;
  flex-wrap: no-wrap;
}

.footer-advice-element {
  flex: 1 1 30%;
  margin: 0;
  flex-wrap: wrap;
}

.footer-advice-element:last-child {
  flex: 1 1 40%;
  text-align: right;
}

.footer-advice-title {
  font-size: 24px;
  line-height: 32px;
  color: #FFF;
}

.footer-advice-content {
  font-size: 24px;
  line-height: 32px;
  color: #dea30a;
}

.footer-advice-content a {
  text-decoration: none;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  padding-right: 52px;
}

.footer-social-icon {
  margin-left: 8px;
}


@media (max-width: 992px) {
  .footer-advice-container {
    flex-wrap: wrap;
  }
  .footer-advice-element {
    flex: 1 1 50%;
  }
  .footer-advice-element:last-child {
    text-align: left;
    margin-top: 24px;
  }
  .footer-social {
    justify-content: flex-start;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
  .header {
    padding: 1.4rem 2.4rem;
  }
  .logo {
    width: 140px;
  }
  .title-container {
    padding: 1.6rem 2.4rem;
  }
  h1 {
    font-size: 40px;
    line-height: 48px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .main-content-container, .footer-content-container {
    padding: 0 24px;
  }
  .footer {
    padding: 48px 0;
  }
  .footer-title {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 8px;
  }
  .footer-advice-element {
    flex: 1 1 100%;
    margin-top: 24px;
  }
  .footer-advice-title, .footer-advice-content {
    font-size: 18px;
    line-height: 32px;
  }
  .footer-advice-content {
    color: hsla(0,0%,100%,.56)
  }
}